.wp-block-sht-primary-media {
	&__figure {
		.wp-block-post-template & {
			aspect-ratio: 3/2;
		}
	}

	&__image {
		width: 100%;

		.wp-block-post-template & {
			height: 100%;
			object-fit: cover;
		}
	}
}
