.c-main {
	--main--offset: 3vw;

	margin-top: calc(var(--masthead--height) + var(--main--offset)) !important;

	body.post-template-single-cover & {
		--main--offset: 0;
	}

	body.archive & {
		@media screen and (min-width: 1440px) {
			--main--offset: 6vw;
		}
	}
}
