<!-- wp:template-part {"slug":"header","tagName":"header","className":"c-masthead"} /-->

<!-- wp:group {"tagName":"main","className":"c-main"} -->
<main class="wp-block-group c-main">
	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":80,"minHeight":30,"minHeightUnit":"vw","gradient":"transparent-to-black","contentPosition":"bottom center","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"3vw","right":"3vw","bottom":"3vw","left":"3vw"}}}} -->
	<div class="wp-block-cover alignfull is-light has-custom-content-position is-position-bottom-center"
		style="padding-top:3vw;padding-right:3vw;padding-bottom:3vw;padding-left:3vw;min-height:30vw">
		<span aria-hidden="true"
			class="wp-block-cover__background has-background-dim-80 has-background-dim has-background-gradient has-transparent-to-black-gradient-background"></span>
		<div class="wp-block-cover__inner-container">
			<!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"blockGap":"10px"}},"textColor":"base","layout":{"wideSize":"800px"}} -->
			<div
				class="wp-block-group has-base-color has-text-color has-link-color">
				<!-- wp:post-title {"textAlign":"center","level":1,"fontSize":"max-60"} /-->

				<!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"},"fontSize":"small"} -->
				<div class="wp-block-group has-small-font-size">
					<!-- wp:post-date /-->

					<!-- wp:paragraph -->
					<p>•</p>
					<!-- /wp:paragraph -->

					<!-- wp:post-terms {"term":"category"} /-->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
	</div>
	<!-- /wp:cover -->

	<!-- wp:spacer {"height":"60px"} -->
	<div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"layout":{"inherit":true}} /-->

	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:post-comments /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
