.wp-block-query-title {
	.c-archive__titleprefix {
		display: block;
		font-size: var(--wp--preset--font-size--max-24);
		font-weight: var(--wp--custom--font-weight--medium);
		color: var(--wp--preset--color--mid-gray);
	}
}
