html {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.01em;
	font-size: clamp(100%, calc(0.94rem + 0.31vw), 110%);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-size: 1rem;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--wp--custom--font-weight--semi-bold);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.wp-block-post-title a {
	text-decoration: none;
	color: inherit;
}

figure {
	margin: 0;

	img {
		vertical-align: middle;
	}
}

a,
button,
input:focus,
input[type='button'],
input[type='submit'],
textarea:focus,
.wp-block-button__link {
	transition: all 0.2s ease-in-out;
}

a,
a:focus,
a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.15rem;
}

sup,
sub {
	font-size: 0.65em;
}

figcaption,
.wp-element-caption,
.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-gallery figcaption,
.wp-block-image figcaption,
.wp-block-table figcaption,
.wp-block-video figcaption {
	letter-spacing: 0.01em;
	text-align: center;
	color: inherit;
	font-size: var(--wp--preset--font-size--small);
	margin-top: 0.35vw;
	margin-bottom: 0;
}

nav {
	a {
		text-decoration: none;
	}
}

.is-style-lead {
	font-size: 1.2em;
}

.wp-caption {
	/* pt-flickr shortcode */
	text-align: center;
}
